<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>Login</title>
	<link th:href="@{/assets/css/login.css}" rel="stylesheet" />
</head>

<body>
	<div class="container" id="container">
		<div id="form-login" class="form-container sign-in-container d-flex justify-content-center">
			<form th:action="@{/auth/login}" method="post">
				<h1 class="formSinin">Đăng nhập</h1>
				<input type="username" placeholder="Username" name="username" />
				<input type="password" placeholder="Password" name="password" />
				<div>
					<input style="width: 5%" type="checkbox" name="remember">
					<label>Nhớ đăng nhập?</label>
				</div>
				<a class="formSinin" href="/forgot">Quyên mật khẩu?</a>
				<button>Đăng nhập</button>
			</form>
		</div>
	</div>
</body>

</html>